.img.img-book {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.product-panel .img{
	width: calc(60% + 2vw);
	-ms-flex-order: 1;
	order: 1;
} 
.product-book-img .img-book img {
	width: 100% !important;
}

.book-img{
	width: 60%;
	max-width: 10px;
	will-change: transform;
	transform-origin: 0 100%;
	transform: rotate(-20deg);
	transition: transform 0.3s ease-out;
}

.book-img:hover {
    transform: rotate(0);
}
.book-image:hover {
    position: relative;
}
.flex
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.row
{
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 10px;
}
div .img img
{
  max-width: 100px;
}